/*
  Custom styles to use.
*/

body,
#main-footer {
  /* font to use */
  font-family: 'Hind', Verdana, sans-serif;
}

body {
  background-color: #636363;
  background-repeat: no-repeat;
  background-size: cover;
}


/* MAIN CONTAINER */

#main-container {
  margin: 3rem auto 9rem;
  width: 50%;
}


/* FORM STYLES */

.set-time-form {
  background-color: #323232;
  border-style: none;
}

.form-title {
  background-color: #323232;
  font-weight: lighter;
}


/* Buttons of the forms */

.form-button {
  width: 50%;
}


/* VIEW OF TIME CURRENT */

#time-current-view {
  background-color: #959595;
  opacity: .9;
  display: flex;
}

#time-current-view h2 {
  font-weight: lighter;
}


/* Time current value */

#time-current {
  color: #4444ee;
}


/* COMPARATION FORM */

#comparate-form {
  margin: 4rem 0 10rem 0;
}


/* RESULT COMPARATION */

#result-comparation-card {
  background-color: #323232;
}

#result-comparation-card p {
  font-size: 1.4rem;
}


/* SETTING CARDS */

#settings-card h1 {
  font-weight: lighter;
}

#view-backgrounds {
  display: flex;
}


/* BACKGROUND BUTTONS */

.background-button {
  border-style: none;
}

.background-button img {
  width: 100%;
}


/* FOOTER */

#main-footer {
  background-color: #344966;
  opacity: .9;
}


/* RESPONSIVE DESING */

@media (max-width: 900px) {
  #main-container {
    width: 70%;
  }
  #view-backgrounds {
    display: block;
  }
  .background-button {
    margin: 1rem 0;
  }
}

@media (max-width: 700px) {
  #main-container {
    width: 80%;
  }
  #view-backgrounds {
    display: block;
  }
  .background-button {
    margin: 1rem 0;
  }
  .form-button {
    width: 70%;
  }
}

@media (max-width: 500px) {
  #main-container {
    width: 95%;
  }
  #time-current {
    margin-right: 0;
    display: block;
  }
  /* change to block display not flex */
  #view-backgrounds {
    display: block;
  }
  .background-button {
    margin: 1rem 0;
  }
  .form-button {
    width: 70%;
  }
}