<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="times f1 comparator time">
  <title>Times Comparator | Dan</title>
  <!-- BOOTSTRAP STYLES -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
  <!-- CUSTOM STYLES -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">
</head>

<body>

  {% include 'partials/_nav.html' %}

  <!-- CONTAINER -->
  <div class="container" id="main-container">
    {% block content %}
    {% endblock %}
  </div>

  {% include 'partials/_footer.html' %}


  <!-- BOOTSTRAP SCRIPTS -->
  <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>